/* Temporary 2 col layout for type/vertical rhythm testing */

body {
	width: 100%;
    max-width: 900px;
	margin: 0 auto;
	padding: 0 10px;
}

.grid {
	letter-spacing: -0.31em;
    word-spacing: -0.43em;
    text-rendering: optimizespeed;
}

.grid-unit {
	display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    vertical-align: top;
}

.two-thirds { width: 66.666666%; }
.one-third { width: 33.3333333%; }

@for $i from 1 through 12 {
    .line-top-#{$i} {
        margin-top: $base-line-height * $i +px;    
    }
}

@for $i from 1 through 12 {
    .line-bottom-#{$i} {
        margin-bottom: $base-line-height * $i +px;    
    }
}
