* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	overflow-y:scroll;
}

/* Based on https://github.com/necolas/suit-utils */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.bfc {
    overflow: hidden;
}

.hidden {
	display: none !important;
}

.inline {
	display: inline !important;
}

.inline-block {
	display: inline-block !important;
}

.block {
	display: block !important;
}

.text-center {
	text-align:center;
}

/* ==========================================================================
   Spacing-specific utilities
   ========================================================================== */

/**
 * Used to adjust the default spacing between components
 * Use with great care!
 *
 * <type>-<location><size>
 *
 * a = all
 * t = top
 * r = right
 * b = bottom
 * l = left
 * h = horizontal
 * v = vertical
 *
 * n = none
 * s = small
 * m = medium
 * l = large
 */

/* All */

.padding-an { padding: 0 !important; }
.padding-as { padding: $base-line-height/4 +px !important; }
.padding-am { padding: $base-line-height/2 +px !important; }
.padding-al { padding: $base-line-height +px 20px !important; }

.margin-an { margin: 0 !important; }
.margin-as { margin: $base-line-height/4 +px 5px !important; }
.margin-am { margin: $base-line-height/2 +px 10px !important; }
.margin-al { margin: $base-line-height +px 20px !important; }

/* Vertical */

.padding-vn { padding-top: 0 !important; padding-bottom: 0 !important; }
.padding-vs { padding-top: $base-line-height/4 +px !important; padding-bottom: $base-line-height/4 +px !important; }
.padding-vm { padding-top: $base-line-height/2 +px !important; padding-bottom: $base-line-height/2 +px !important; }
.padding-vl { padding-top: $base-line-height +px !important; padding-bottom: $base-line-height +px !important; }

.margin-vn { margin-top: 0 !important; margin-bottom: 0 !important; }
.margin-vs { margin-top: $base-line-height/4 +px !important; margin-bottom: $base-line-height/4 +px !important; }
.margin-vm { margin-top: $base-line-height/2 +px !important; margin-bottom: $base-line-height/2 +px !important; }
.margin-vl { margin-top: $base-line-height +px !important; margin-bottom: $base-line-height +px !important; }

/* Horizontal */

.padding-hn { padding-left: 0 !important; padding-right: 0 !important; }
.padding-hs { padding-left: 5px !important; padding-right: 5px !important; }
.padding-hm { padding-left: 10px !important; padding-right: 10px !important; }
.padding-hl { padding-left: 20px !important; padding-right: 20px !important; }

.margin-hn { margin-left: 0 !important; margin-right: 0 !important; }
.margin-hs { margin-left: 5px !important; margin-right: 5px !important; }
.margin-hm { margin-left: 10px !important; margin-right: 10px !important; }
.margin-hl { margin-left: 20px !important; margin-right: 20px !important; }

/* Top */

.padding-tn { padding-top: 0 !important; }
.padding-ts { padding-top: $base-line-height/4 +px !important; }
.padding-tm { padding-top: $base-line-height/2 +px !important; }
.padding-tl { padding-top: $base-line-height +px !important; }

.margin-tn { margin-top: 0 !important; }
.margin-ts { margin-top: $base-line-height/4 +px !important; }
.margin-tm { margin-top: $base-line-height/2 +px !important; }
.margin-tl { margin-top: $base-line-height +px !important; }

/* Bottom */

.padding-bn { padding-bottom: 0 !important; }
.padding-bs { padding-bottom: $base-line-height/4 +px !important; }
.padding-bm { padding-bottom: $base-line-height/2 +px !important; }
.padding-bl { padding-bottom: $base-line-height +px !important; }

.margin-bn { margin-bottom: 0 !important; }
.margin-bs { margin-bottom: $base-line-height/4 +px !important; }
.margin-bm { margin-bottom: $base-line-height/2 +px !important; }
.margin-bl { margin-bottom: $base-line-height +px !important; }

/* Left */

.padding-ln { padding-left: 0 !important; }
.padding-ls { padding-left: 5px !important; }
.padding-lm { padding-left: 10px !important; }
.padding-ll { padding-left: 20px !important; }

.margin-ln { margin-left: 0 !important; }
.margin-ls { margin-left: 5px !important; }
.margin-lm { margin-left: 10px !important; }
.margin-ll { margin-left: 20px !important; }

/* Right */

.padding-rn { padding-right: 0 !important; }
.padding-rs { padding-right: 5px !important; }
.padding-rm { padding-right: 10px !important; }
.padding-rl { padding-right: 20px !important; }

.margin-rn { margin-right: 0 !important; }
.margin-rs { margin-right: 5px !important; }
.margin-rm { margin-right: 10px !important; }
.margin-rl { margin-right: 20px !important; }
